@import './footer.css';
@import './header.css';
@import './sponsors.css';
@import './programs.css';


:root {
    --primary-color: #fd9800;
    --secondary-color: rgb(253, 190, 74);
    --border-color: tomato;
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Indie Flower", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 5000px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home__tab {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}