.programs {
    background-color: var(--secondary-color);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.program__groups {
    width: 20%;
    min-width: 15rem;
    margin-left: 5%;
    list-style: none;
    box-sizing: border-box;
}

.programs .program__levels {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--border-color);
}

.programs .program__levels:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.programs .selected__button {
    color: var(--border-color);
    margin-bottom: 0;
    border-left: 0.4rem solid var(--border-color);
}

.program_images {
    box-sizing: border-box;
    width: 40%;
    max-height: 20rem;
    border-radius: 1rem !important;
    overflow: hidden;
}

.program_images img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.program_images img.selected__tab {
    display:block;
}

/* mobile view */
@media (max-width: 780px) {
    .programs {
        padding: 2rem;
    }

    .program_images img.selected__tab {
        display:block;
        width: 95%;
        max-height: 18rem;
    }

    .program__groups {
        width: 100%;
        align-items: center;
        margin-right: 13%;
    }

    .programs .program__levels:hover {
        background-color: transparent;
    }

    .programs .selected__button {
        border-left: none;
        border-bottom: 0.3rem solid var(--border-color);
    }

    .program__groups .program__levels h3 {
        font-size: 1rem;
    }

    .program__groups .program__levels p {
        font-size: 0.6rem;
    }
}

@media (max-width: 500px) {
    .program_images img.selected__tab {
        display:block;
        width: 95%;
        max-height: 12rem;
    }
}